@using System.Web.Optimization
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #AAD9BB;">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block" style="color: #2E2E2E">DH&G Agrícola</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" id="dashboard" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="almacen" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Almacen
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="requisicion" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-pen"></i>
                        <p>
                            Requisición
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="ingresos" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Ingresos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="egresos" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-arrow-down"></i>
                        <p>
                            Egresos
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-closed">
                    <a href="#" class="nav-link" style="color: #2E2E2E">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Admin
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" id="usuarios" class="nav-link" style="color: #2E2E2E">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" id="reportes" class="nav-link" style="color: #2E2E2E">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reportes</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

@*<script>
    $(document).ready(function () {

        $("#dashboard").click(function () {
            $(this).addclass("active")
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Dashboard")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#requisicion").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Requisicion")',
                contentType: "application/json; charset=utf-8",
                data: { },
                success: function (data) {
                    $("#HtmlBody").html(data);
                }                
            });
        });

        $("#ingresos").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Ingresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#egresos").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

    });
</script>*@


