
<div class="text-center">
    
        <div class="row top-row-spacer">
            <div class="col-md-6">
                <h4 class="page-title">Crear Egreso</h4>
            </div>
            <div class="col-md-5">
            </div>

            <div class="col-md-1">
                <button id="enviarEgreso" class="btn btn-block secondary-background-color" style="color: white">
                    <i class="nav-icon fas fa-arrow-right"></i>
                        Generar
                </button>
            </div>
        </div>

    <div class="card card-margin" style="height:100px">
        
        <div class="row card-row-spacer">
            
            <div class="col-md-0">
                <button class="btn btn-default button-plus realizarIngreso" style="margin: 18px 5px 0 0;"><i class="nav-icon fas fa-plus"></i></button>
            </div>
            
            <div class="col-md-2">
                <label style="font-weight: normal; text-align: left; float: left">Id</label>
                <input class="form-control" readonly placeholder="Escanea el producto"/>
            </div>
            
            <div class="col-md-2">
                <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                <input class="form-control" readonly/>
            </div>
            
            <div class="col-md-2">
                <label style="font-weight: normal; text-align: left; float: left">Cantidad</label>
                <input class="form-control" placeholder="Ingresa la cantidad"/>
            </div>
            
            <div class="col-md-2">    
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Antes</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileInput" accept=".jpg,.jpeg">
                        <label id="fileLabel" class="custom-file-label" for="fileInput" style="text-align: left">Seleccionar</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Despues</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileInput" accept=".jpg,.jpeg">
                        <label id="fileLabel" class="custom-file-label" for="fileInput" style="text-align: left">Seleccionar</label>
                    </div>

                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card card-margin">
        <div class="row">
            <div class="col-12">
                <div">
                    <div class="card-header">
                        <h3 class="card-title">Producto Agregados</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Imagen Previa</th>
                                    <th>Imagen Posterior</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button class="btn btn-default button-plus realizarIngreso"><i class="nav-icon fas fa-plus"></i></button></td>
                                    <td>183</td>
                                    <td>Quimico 1</td>
                                    <td>1</td>
                                    <td>previa.jpg</td>
                                    <td>posterior.jpg</td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-default button-plus realizarIngreso"><i class="nav-icon fas fa-plus"></i></button></td>
                                    <td>183</td>
                                    <td>Quimico 1</td>
                                    <td>1</td>
                                    <td>previa.jpg</td>
                                    <td>posterior.jpg</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        <div class="row card-row-spacer">
        </div>

    </div>



</div>
<script>
    $(document).ready(function () {

        $("#enviarEgreso").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

    });
</script>