@model AgricolaDH_GApp.Models.Usuario


<div style="margin-bottom: 5vh; width: 100%; height: 80vh;">
    <div class="homepage-main">

        <div class="homepage-container-square">
            <div class="homepage-text-container">
                <h1 style="font-size: 48px; color: #222222; margin: 0;">¡Bienvenido, @Model.Nombre!</h1>
                <p style="font-size: 24px; color: #444444; margin: 10px 0;">Nos alegra tenerte de vuelta</p>
                <p style="font-size: 16px; color: #666666; margin-top: 5px;">Explora las funciones y comienza tu día</p>
            </div>
            <div class="homepage-image-container">
                <img src="~/images/Home.jpg" alt="Company Logo" />
            </div>
        </div>
    </div>
</div>