name: Deploy to Azure App Service
run-name: "Env: ${{inputs.azure_env}}"
on:
  workflow_dispatch:
    inputs:
      azure_env:
        type: environment
        description: Environment
        required: true
        default: 'dev'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{github.event.inputs.azure_env}}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0'  # Change to your .NET version

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish --configuration Release --output ./output

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }} # JSON format

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ vars.APP_SERVICE_NAME }}
        package: ./output
        app-settings: |
          AzureAD__TenantId=${{ vars.ACTIVE_DIRECTORY_TENANT_ID }}
          AzureAD__ClientId=${{ vars.ACTIVE_DIRECTORY_CLIENT_ID }}
          AzureAD__ClientSecret=${{ secrets.ACTIVE_DIRECTORY_CLIENT_SECRET }}